@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;0,800;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color:rgb(0, 0, 0);
    font-size: 16px;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.wrapper{
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(227, 227, 227, 1) 35%, rgba(201, 201, 201, 1) 70%, rgba(176, 176, 176, 1) 100%);
    width: 100%;
}

.container{
    width: 1400px;
    margin: 0 auto;
}

header{
    padding: 50px 0;
}

header .logo{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav{
    float: right;
    width: 50%;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li{
    display:inline-block;
}

header nav ul li a{
    color:black;
}



header nav ul li:not(.active):not(.btn) a {
    position: relative;
}

header nav ul li:not(.active):not(.btn) a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -8px;                  /* линия ниже текста */
    width: 70%;
    height: 4px;
    background: rgb(229, 180, 180);
    border-radius: 4px;

    opacity: 0;
    transform: translateX(-50%) translateY(6px);
    transition: 
        opacity 0.25s ease,
        transform 0.25s ease;
}

header nav ul li:not(.active):not(.btn) a:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}



header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: rgb(126, 126, 126);
    border-radius: 10px;
    position: relative;
    top: 4px;
    left: -15px;
}

header nav ul li.btn a {
    background: rgb(200, 200, 200);
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover {
    background: rgb(242, 191, 191);
}

.hero {
    padding-bottom: 100px;
}

.hero--info {
    width: 530px;
    padding-top: 70px;
}

.hero--info h2 {
    
    font-size: 17px;
    font-weight: 600;
}

.hero--info h1 {
    font-size: 37px;
    font-weight: 600;
    color: rgb(45, 45, 45);
}

.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn {
    background:rgb(82, 82, 82);
    color: rgb(232, 222, 222);
    border-radius: 50px;
    padding: 7px 25px;
    border: 0;
    transition: all 500ms ease;
    font-family: "Poppins", sans-serif;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: black;
    background: rgb(255, 255, 255);
}

.hero--info {
    text-align: center;
}

.hero--info p {
    text-align: left;      /* текст слева */
    margin: 30px 0 15px;
}